# Mac OSX
.DS_Store

# IntelliJ IDEA
.idea/
*.iml
out/

# Gradle
.gradle
build
reports
!gradle-wrapper.jar

# Kotlin
kotlin-js-store/

# Java
hs_err_pid*
gc.log

# Nodejs (Don't do this for prod apps)
yarn.lock

# Gradle release
cx.json